<!-- created: 2020-06-07 12:32:55 -->

<h1>Task details</h1>

Name: <%= task.name %> <br><br>

Description: <will be supported later> <br>
Category: <will be supported later> <br><br>

Priority: <%= task.priority %> <br><br>

Recorded created: <%= task.createdAt %> <br>
Recorded updated:<%= task.updatedAt %> <br>

<br>
<%- include('partials/back-to-list') %> <br> 
<%- include('partials/back-to-home') %> 