<!-- This page displays all tasks in the database -->

<h1>This page shows all tasks in the database</h1>

<!-- The if/else doesn't really work when there is no data in the database, but I don't know why not.  2020-05-28 17:49:48 -->

<p> Tasks:
    <% tasks %>
</p>

<% 
if (tasks != []) {
%>

<% tasks.forEach((task) => {%>

<p id="text-output">
    <span id="task-name">
        <a href="<%=`/tasks/${task._id}`%>"><%=task.name%></a>
        - (<a href="<%=`/tasks/${task._id}/edit` %>">edit</a>) 
        (<a href="<%=`/tasks/${task._id}/delete?_method=DELETE` %>" onclick="return confirm('Delete this record permanently?')">delete</a>)       
    </span><br>
    <span>
        priority:
        <%=task.priority%>
        - created:
        <%=task.createdAt.toLocaleDateString() + ' ' + task.createdAt.toLocaleTimeString()%>
        - modified:
        <%=task.updatedAt.toLocaleDateString() + ' ' + task.updatedAt.toLocaleTimeString()%>
    </span>
</p>

<% }) %>

<% } else { %>

<p>No tasks found</p>

<% } %>

<br>
<%- include('partials/back-to-home') %> 